Repository Ventup-IT/ex_facturapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-credo

mix-format:
  name: 'elixir: mix format'
  entry: mix format --check-formatted
  language: system

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

mix-credo:
  name: 'elixir: mix credo'
  entry: mix credo
  language: system
  pass_filenames: false

Merge pull request #2 from Ventup-IT/chore/linters-and-precommit
  .credo.exs
  .pre-commit-config.yaml
  Makefile
  coveralls.json
  env.sh
  mix.exs
  mix.lock
Due: mix-format, mix-credo

Github Workflow
  .github/workflows/elixir.yml
Due: none

Github Workflow (#3)
  .github/workflows/elixir.yml
Due: none

Update Workflow
  .github/workflows/elixir.yml
Due: none

Update Workflow (#4)
  .github/workflows/elixir.yml
Due: none

General CRUD
  .credo.exs
  .github/workflows/elixir.yml
  Makefile
  README.md
  config/config.exs
  coveralls.json
  lib/ex_facturapi.ex
  lib/ex_facturapi/catalogs.ex
  lib/ex_facturapi/clients.ex
  lib/ex_facturapi/crud.ex
  lib/ex_facturapi/errors/api_connection_error.ex
  lib/ex_facturapi/errors/api_error.ex
  lib/ex_facturapi/errors/authentication_error.ex
  lib/ex_facturapi/errors/invalid_request_error.ex
  lib/ex_facturapi/errors/rate_limit_error.ex
  lib/ex_facturapi/invoices.ex
  lib/ex_facturapi/organizations.ex
  lib/ex_facturapi/products.ex
  lib/ex_facturapi/receipts.ex
  lib/ex_facturapi/requester.ex
  lib/ex_facturapi/utils.ex
  mix.exs
  mix.lock
  test/ex_facturapi/catalogs_test.exs
  test/ex_facturapi/clients_test.exs
  test/ex_facturapi/invoices_test.exs
  test/ex_facturapi/organizations_test.exs
  test/ex_facturapi/products_test.exs
  test/ex_facturapi/receipts_test.exs
  test/ex_facturapi_test.exs
  test/fixtures/XAMA620210DQ5.cer
  test/fixtures/XAMA620210DQ5.key
  test/test_helper.exs
Due: mix-format, mix-compile, mix-credo

Update Makefile
  Makefile
Due: none

Move to use Config
  config/config.exs
Due: mix-format, mix-credo

Change name get_all to list
  lib/ex_facturapi/crud.ex
  lib/ex_facturapi/organizations.ex
Due: mix-format, mix-compile, mix-credo

Minor refactor
  lib/ex_facturapi/requester.ex
Due: mix-format, mix-compile, mix-credo

Minor refactor the tests.
  test/ex_facturapi/organizations_test.exs
  test/mocks/facturapi.ex
  test/test_helper.exs
Due: mix-format, mix-compile, mix-credo

Path conditions:
  mix-format: any of: \.exs*$
  mix-compile: any of: \.ex$
  mix-credo: any of: \.exs*$
